*.pyc
*.o
*.so

# unified repo tracking
.gitu

# qt creator
*.qtc.*

# cmake builds
.build

# python packaging
*.egg-info/
dist/

# pyces build
.pyces-out

# jupyter autosaves
.ipynb_checkpoints

# bazel poop
bazel-*

# vscode poop
.vscode/ipch

# node package manager
node_modules

# bazel sucks... 
WORKSPACE
